@media only screen and (max-width: 600px){

    #caja_texto_invierte_baner_principal{
        font-size: 20px;
    }
    
    #caja_slider_texto_baner_principal{
        font-size: 20px;
    }
    
    #baner_principal img {
        height: 370px;
    }

  
  #boton_encuentra {
    transition: none;
    padding: 10px 10px;
  }
  
  #caja_boton_baner_principal {

    margin-top: 10vh;
  }
  
  #caja_textos_baner_principal {

    margin-top: 7vh;
  }



.tarejta_baner_principal {

  padding: 10px;
  font-size: 15px;
}

.logo_tarjeta {

  font-size: 30px;
}

  


}