#seccion_informacion{
    color: white;
    position: relative;
    
}

#caja_mapa_texto{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

#seccion_terrenos_casas img{

}

#texto_mapa{
    padding: 10px;
    padding-top: 30px;
    font-size: 30px;
    text-align: justify;
    margin-bottom: 20px;
}

#texto_mapa span{
    color: var(--primario);
    font-weight: 900;
}

#texto_mapa a{
    color: var(--primario);
    font-weight: 600;

    margin-top: 20px;
    border-bottom: 1px solid;
}

#texto_mapa a:hover{
    color: white;
}





/* caja conteos */

#caja_conteo{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.conteo{
    padding: 15px;
    border-bottom: 1px solid var(--amarillo2);
    border-radius: 10px;
}

.numeros_conteo{
    font-size: 35px;
    color: var(--amarillo2);
}

.texto_conteo{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
}


#olas{
    position: absolute;
    z-index: 0;

}





/* cajas informativas */
#cajas_info{
    color: #222222;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
    margin-top: 30px;
}

.div_caja_info{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.caja_info{
    background-color: white;
    width: 30%;
    text-align: center;
    position: relative;
    box-shadow: 2px 2px 5px gray;
    border-radius: 5px;
}

.caja_info:hover .boton_saber_mas_cajas_info{
    background-color: var(--amarillo2);
    color: white;
}


.titulo_caja_info{
    background-color: #222222;
    color: var(--amarillo2);
    padding-top: 40px;
    padding-bottom: 80px;
    font-size: 23px;
    border-radius: 5px 5px 0 0;

}


.caja_icono_info{
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--amarillo2);
    font-size: 45px;
    padding: 15px;
    border-radius: 100px;
    color: white;
}


.texto_caja_info{
    background-color: white;
    padding: 30px;
    padding-top: 40px;
    border-radius: 0 0 5px 5px;
    color: #222222;
}


.caja_boton_saber_mas_cajas_info{
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
}


.boton_saber_mas_cajas_info{
    display: inline-block;
    padding: 5px;
    color: var(--amarillo2);
    border: 2px solid var(--amarillo2);
    transition: 0.5s;
}

.relleno{
    padding-left: 20px;
    padding-right: 20px;
}




