
/* css para presentacion de productos */


#encontrar_terrenos{
  background-image: Url("../../../img/Terrenos/muestra_terreno2.jpeg");
}

#encontrar_casas{
  background-image: Url("../../../img/Casas/casa_caja_catalogo.png");
}

.img_presentacion_producto{
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

.titulo_presentacion_producto{
  background-color: var(--fondo_primario);
  padding: 20px;
  color: var(--primario);
  font-weight: 800;
  font-size: 35px;
  letter-spacing: 10px;

}


.info_ficha_producto{
  background-color: var(--fondo_primario);
  color: white;
}

.presentacion_producto {
    display: flex;
    justify-content: space-between;
    background-color: var(--fondo_primario);
    padding: 30px 15px 30px 15px;
    align-items: center;
}

.texto_presentacion_producto {
    color: white;
    font-weight: 600;
    font-size: 30px;
    width: 60%;
    text-align: justify;
}








.boton_ver_productos {
  padding: 20px 30px;
  border-radius: 5px;
  font-size:20px;
  margin:auto;
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  cursor:pointer;
  z-index: 1;
}

/* .boton_ver_productos:hover{
    color: var(--primario);
    border-color: var(--primario);
} */

/** end hover 8*/
/** hover 9 */
.boton_ver_productos{
  color:var(--fondo_primario);
  border:1px solid #fff;
  transition:.5s all;
  overflow:hidden;
  font-weight: 900;
  background-color: white;
}
.boton_ver_productos:before{
  content:'';
  position:absolute;
  width:85%;
  height:100%;
  top:0;
  left:-80%;
  background: var(--fondo_primario);
  transition:.5s all;
  z-index:-1;
  transform:skew(32deg);
}
.boton_ver_productos:hover{ 
  color: white;
}
.boton_ver_productos:hover:before{
  left:7%;
}





/* caja muestra terrenos y casas*/

.caja_muestra_producto{
    margin-top: 30px;
}



/* fichas de productos */


/* En línea #15 | file:///mnt/C492E19692E18D6C/Users/RodrigoJM/Documents/Windows%20Desktop/Inmos/Terenos%20San%20Marcos/TerrenosSanMarcos.com/index.html */


.caja_muestra_producto {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}


.ficha_producto {
    box-shadow: 1px 1px 5px #888787;
    max-width: 360px;
    margin: 10px 20px 40px;
    transition: 0.5s;
    color: black;
  }

.ficha_producto:hover{
  transform: translateY(-10px);
  box-shadow: 3px 10px 10px rgb(175, 175, 175);
} 





/* 
.ficha_producto:hover .boton_ficha_producto{
  background-color: var(--amarillo2);
  color: white;
} */







.boton_ficha_producto{
  color:var(--fondo_primario);
  border:1px solid #fff;
  transition:.8s all;
  position:relative;
  overflow:hidden;
  z-index: 1;
  background-color: white;
  border-radius: 5px;
}
.boton_ficha_producto:before,.boton_ficha_producto:after{
  content:'';
  position:absolute;
  width: 20px;
  height:20px;
  border-radius:50%;
  transition:.3s all;
  z-index:-1;
  background:var(--fondo_primario);
}
.boton_ficha_producto:before{
  left:-20px;
}
.boton_ficha_producto:after{
   right:-20px;
}
.ficha_producto:hover .boton_ficha_producto{
  color:#ffffff;
  font-weight:bold;
}
.ficha_producto:hover:hover .boton_ficha_producto:before{
  animation:animationLeft10 .8s both;
}
.ficha_producto:hover:hover .boton_ficha_producto:after{
  animation:animationRight10 .8s both;
}
@keyframes animationRight10{
  0%{
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}
@keyframes animationLeft10{
  0%{
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}
/** end hover 10*/








.img_ficha_producto img {
  width: 100%;
  height: auto;
}


.precio_ficha_producto {
  font-size: 25px;
  text-align: center;
  padding: 10px;
  background-color: var(--fondo_primario);
  color: var(--primario);
}

.disponibilidad_ficha {
  text-align: right;
  padding-right: 10px;
  color: #3ff73f;

}

.caja_boton_ficha_producto {
  text-align: center;
  padding: 10px;
}






.boton_ficha_producto {
  width: 40%;
  height: 45px;
  font-size:16px;
  margin:auto;
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  cursor:pointer;
}







.titulo_ficha_producto {
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
}

.caracteristicas_ficha_producto {
  padding: 10px;
}




/* msj presupuesto insuficiente */

#presupuesto_insuficiente{
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 204, 0, 0.412);
  display: none;
}

#presupuesto_insuficiente a{
  color: var(--amarillo2);
  font-weight: 700;
}

.msj1_presupuesto_insuficiente{
  font-size: 20px;
  font-weight: 700;
  margin: 100px 0 50px 0;
}

.msj2_presupuesto_insuficiente{
  margin-bottom: 150px;
}

.icono_presupuesto_insuficiente{
  font-size: 100px;
  margin-bottom: 30px;
  color: rgba(255, 204, 0, 0.412);
}

/* fin msj presupuesto insuficiente */