
/* css para presentacion de productos */

.presentacion_producto {
    display: flex;
    justify-content: space-between;
    background-color: var(--fondo_primario);
    padding: 30px 15px 30px 15px;
    align-items: center;
}

.texto_presentacion_producto {
    color: white;
    font-weight: 600;
    font-size: 30px;
    width: 60%;
    text-align: justify;
}


.boton_ver_productos {
    color: var(--amarillo2);
    border: 1px solid var(--amarillo2);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    transition: 0.5s;
    white-space: nowrap;
}

.boton_ver_productos:hover{
    color: white;
    border-color: white;
}

/* caja muestra terrenos y casas*/

.caja_muestra_producto{
    margin-top: 30px;
}



/* fichas de productos */


/* En línea #15 | file:///mnt/C492E19692E18D6C/Users/RodrigoJM/Documents/Windows%20Desktop/Inmos/Terenos%20San%20Marcos/TerrenosSanMarcos.com/index.html */


.caja_muestra_producto {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}


.ficha_producto {
    box-shadow: 1px 1px 5px #888787;
    max-width: 360px;
    margin: 10px 20px 40px;
    transition: 0.5s;
    color: black;
  }

.ficha_producto:hover{
  transform: translateY(-10px);
  box-shadow: 3px 10px 10px rgb(175, 175, 175);
} 

.ficha_producto:hover .boton_ficha_producto{
  background-color: var(--amarillo2);
  color: white;
}

.img_ficha_producto img {
  width: 100%;
  height: auto;
}


.precio_ficha_producto {
  font-size: 25px;
  text-align: center;
  padding: 10px;
  background-color: var(--fondo_primario);
  color: var(--amarillo2);
}

.disponibilidad_ficha {
  text-align: right;
  padding-right: 10px;
  color: #00cf00;

}

.caja_boton_ficha_producto {
  text-align: center;
  padding: 10px;
}

.boton_ficha_producto {
  padding: 10px;
  display: inline-block;
  border: 2px solid var(--amarillo2);
  color: var(--amarillo2);
  font-size: 20px;
  transition: 0.5s;
}



.titulo_ficha_producto {
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
}

.caracteristicas_ficha_producto {
  padding: 10px;
}






