.filtros_productos{
    background-color: var(--fondo_primario);
    display: flex;
    font-size: 30px;
    justify-content: center;
    padding: 20px;
    color: var(--primario);
}


.filtros_productos div{
    align-self: center;
}

.icono_filtros{
    padding-right: 20px;
    margin-right: 20px;
    border-right: 2px solid var(--primario);
}

.caja_buscador{
    display: flex;
    margin-right: 20px;
    border-right: 2px solid var(--primario);
    padding-right: 20px;
}

.icono_buscar{
    margin-right: 20px;
}


.caja_buscador select{
    font-size: 15px;
}



#input_presupuesto{
    width: 200px;
}

  
.caja_presupuesto{
    display: inline-block; 
    width: 110px;
}


.filtros_productos div {
    display: flex;
    margin-right: 10px;
  }
  
  #select_municipio {
	margin-left: 10px;
}


/* animacio fichas al aplicar filtro */


.clase_animacion_filtros_fichas{
    animation-name: anima_filtros_fichas;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;

    opacity: 0;
    transform: translateY(-20px);
}


@keyframes anima_filtros_fichas {
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.clase_animacion_filtros_fichas_esconder{
    animation-name: anima_filtros_fichas_esconder;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
}


@keyframes anima_filtros_fichas_esconder {
    0%{
        opacity: 1;
        transform: translateY(0);
    }
    50%{
        opacity: 0.5;
        transform: translateY(-10px);
    }
    75%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        display: none;
    }
}

/*fin animacio fichas al aplicar filtro */

#input_presupuesto {
	background-color: var(--fondo_primario);
}

input[type=range] {
    height: 50px;
    -webkit-appearance: none;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #002200;
    background: #fcb527;
    border-radius: 1px;
    border: 0px solid #18D501;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #00AA00;
    border: 0px solid #222222;
    height: 44px;
    width: 20px;
    border-radius: 21px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -16px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #fcb527;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #002200;
    background: #fcb527;
    border-radius: 1px;
    border: 0px solid #18D501;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #00AA00;
    border: 0px solid #222222;
    height: 44px;
    width: 20px;
    border-radius: 21px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #fcb527;
    border: 0px solid #18D501;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #002200;
  }
  input[type=range]::-ms-fill-upper {
    background: #fcb527;
    border: 0px solid #18D501;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #002200;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #00AA00;
    border: 0px solid #222222;
    height: 44px;
    width: 20px;
    border-radius: 21px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #fcb527;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #fcb527;
  }
  