@media screen and (max-width: 900px){




#redesytelefono{
    display: none;
}

#redestelefono_tablet{
    display: flex;
}

#links_navegacion li{
    padding: 5px 10px;
    font-weight: 600;
    font-size: 100%;
}

#seccion_logo img{
    max-width: 200px;
    min-width: 100px;
}


#logoynavegacion{
    flex-direction: column;
}

#redestelefono_tablet ul{
    display: flex;
    flex-direction: column;
    font-size: 38px;
    padding-left: 10px;
    margin: 0;
    height: auto;
    margin-right: 10px;
    height: 100%;
    justify-content: space-around;
    border-left: 1px solid var(--primario);
}


/* animaciones  */

#redestelefono_tablet a:hover{
    color: white;
}


}