header{
    display: flex;
    background-color: var(--fondo_primario);
    position: relative;
}


header > div{
    display: flex;
    justify-content: center;
    align-items: center;

}

#logoynavegacion{
    width: 100%;
    height: auto;
}

#seccion_logo{
    flex: 30%;
    position: relative;
}

#seccion_navegacion{
    flex: 70%;
    display: flex;
    flex-direction: column;
}



/* links */


ul{
    list-style: none;
    display: flex;
}

#links_navegacion {
	display: flex;
	justify-content: center;
    
}


#links_navegacion a{
    color: white;
}

#links_navegacion li{
    padding: 10px 15px;
    font-weight: 700;
    font-size: 18px;
    transition: 0.5s;
}


/* logo */

#seccion_logo img{
    max-width: 370px;
    min-width: 250px;
}


#redesytelefono{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 5px;
    
}

#redesytelefono a{
    color: var(--amarillo2);
}

#redesytelefono li{
    padding: 0 8px;

}

#redesytelefono i{
    font-size: 30px;
    
}

#redesytelefono ul li:first-child{
    margin-right: 40px;
}


/* link actual */

.link_actual a{
    color: var(--amarillo2) !important;
}

.link_actual{
    border-bottom: 1px solid var(--amarillo2); 
    border-top: 1px solid var(--amarillo2);
    letter-spacing: 1px;
}





/* animaciones */

#links_navegacion a{
    transition: 0.5s;
}

#links_navegacion a:hover{
    color: var(--amarillo2);
}

#links_navegacion li:hover{
    color: white;
    border-bottom: 1px solid var(--amarillo2); 
    border-top: 1px solid var(--amarillo2);
    letter-spacing: 1px;
}

#redesytelefono a:hover{
    color: white !important;
}

/* arreglos pc */

#boton_menu{
    display: none;
}

#redestelefono_tablet{
    display: none;
}