/* layout*/

#muestra_terrenos{
    display: flex;
    justify-content: center;
    align-items: center;
}

#muestra_terrenos > div{
    margin: 0 20px;
}





/* --- Layout ----- */






/* ---- descripcion --------- */

.descripcion_capsula{
    
}




/* ---- boton---- */

.ver_info_capsula a{
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.boton{
    display: flex;
    justify-content: center;
    align-items: center;


    width: 50%;
    height: 50px;
    background-color: rgb(211, 74, 24);
    border-radius: 8px;
    color: cornsilk;
    font-size: 20px;
    font-weight: 900;
}

.texto{
    transition: 0.5s ease;
    margin-left: 25px;
}

.boton:hover .texto{
    margin-right: 10px;
}

.flecha{
    color: rgb(211, 74, 24);;
    transition: 0.5s ease;
}

.boton:hover .flecha{
    color: wheat;
    margin-left: 10px;
}


