#baner_principal{
    position: relative;
    width: 100%;
    height: auto;
    background-color: var(--fondo_primario);
}

#baner_principal img{
    width: 100%;
    height: 600px;
    filter: opacity(0.6);
}

#caja_contenido_baner_principal{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

#caja_contenido_baner_principal div{
    display: flex;
    justify-content: center;
    align-items: center;
}



/* -------------- */

#caja_textos_baner_principal{
    margin-top: 80px;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
}

#caja_texto_invierte_baner_principal{
    font-size: 70px;
    letter-spacing: 10px;
    font-weight: 900;
    color: var(--primario);
}

#caja_slider_texto_baner_principal{
    margin-top: 30px;
    font-size: 60px;
    letter-spacing: 2px;
    font-weight: bolder;
    color: white;
    overflow: hidden;
    position: relative;
    
}


/* TARJETAS */

#caja_tarjetas_baner_principal{
    margin-top: 80px;
}

#caja_tarjetas_baner_principal hr{
    width: 90%;
}


.tarejta_baner_principal{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid var(--amarillo2);
    border-radius: 5px;
    margin: 0 5%;
    color: white;
    background-color:  #22222284;
    text-align: center;
    font-size: 25px;
    transition: 0.5s;
}

.tarejta_baner_principal:hover{
    transform: translateY(-10px);
}

.logo_tarjeta{
    font-size: 50px;
}

.texto_tarjeta{
    display: flex;
    flex-direction: column;
}







/* ANIMACIONES */

.clase_animacion_texto_cambiante{
    animation-name: anim;
    animation-duration: 1.5s;
}


@keyframes anim{
    from{
        top: 150px;
    }
    to{
        top: 0px;
    }
}