@media screen and (max-width: 600px){

 
    .hiden_icon{
        display: none;
    }

    .class_anima_hiden_icon{
        animation-name: anima_hidden_icon;
        animation-delay: 1s;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        opacity: 0;
        display: block !important;
        transition: 0.5;
    }

    @keyframes anima_hidden_icon {
        from{
            opacity: 0;
        }
        to{
            
            opacity: 1;
        }
    }


    #links_navegacion ul{
        flex-direction: column;
    }


    li {
        text-align: center;
    }
  
    #links_navegacion li {
      font-size: 20px;
      padding: 10px;
    }


    #boton_menu{
        display: flex;
        color: white;
    }

    #boton_menu i{
        margin-right: 3px;
        font-size: 30px;
        cursor: pointer;
    }

    #seccion_logo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
  
  
    ul {
        padding: 0;
    }
  

    #redestelefono_tablet i {
        margin: 10px;
    }

    
    header {
        overflow: hidden;
    }


/* animacion header  */


/* header.css | file:///home/rodrigo/Escritorio/Inmos/Terenos%20San%20Marcos/TerrenosSanMarcos.com/style/Header/Desktop/header.css */

#seccion_navegacion {
  flex: none;
  height: 10px;


}


.clase_animacion_header_desplegar{
    animation-name: animacionheader_desplegar;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    flex: none;
}



@keyframes animacionheader_desplegar {
    from{
        
        height: 0;
    }
    to{
        
        height: 290px;
    }
}

.clase_animacion_header_ocultar{
    animation-name: animacionheader_ocultar;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    flex: none;
}

@keyframes animacionheader_ocultar {
    from{
        
        height: 290px;
    }
    to{
        
        height: 0;
    }
}




}