/* SLIDER */
.slider, 
.slider > div {
    /* Images default to Center Center. Maybe try 'center top'? */
    background-position: center center;
    display: block;
    width: 100%;
    height: 500px;
    /* height: 100vh; *//* If you want fullscreen */
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    overflow: hidden;
    -moz-transition: transform .4s;
    -o-transition: transform .4s;
    -webkit-transition: transform .4s;
    transition: transform .4s;
}

.slider > div {
    position: absolute;
}

.slider > i {
    color: var(--primario);
    position: absolute;
    font-size: 60px;
    margin: 20px;
    top: 40%;
    text-shadow: 0 10px 2px #223422;
    transition: .3s;
    width: 30px;
    padding: 10px 13px;
    background: #fff;
    background: rgba(255, 255, 255, .3);
    cursor: pointer;
    line-height: 0;
    box-sizing: content-box;
    border-radius: 3px;
    z-index: 4;
}

.slider > i svg {
    margin-top: 3px;
}

.slider > .left {
    left: -100px;
}
.slider > .right {
    right: -100px;
}
.slider:hover > .left {
    left: 0;
}
.slider:hover > .right {
    right: 0;
}

.slider > i:hover {
    background:#fff;
    background: rgba(255, 255, 255, .8);
    transform: translateX(-2px);
}

.slider > i.right:hover {
    transform: translateX(2px);
}

.slider > i.right:active,
.slider > i.left:active {
    transform: translateY(1px);
}

.slider:hover > div {
    transform: scale(1.01);
}

.hoverZoomOff:hover > div {
    transform: scale(1);
}

.slider > ul {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 4;
    padding: 0;
    margin: 0;
    transform: translateX(-50%);
}

.slider > ul > li {
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    list-style: none;
    float: left;
    margin: 10px 10px 0;
    cursor: pointer;
    border: 1px solid #fff;
    -moz-transition: .3s;
    -o-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}

.slider > ul > .showli {
    background-color: var(--primario);
    -moz-animation: boing .5s forwards;
    -o-animation: boing .5s forwards;
    -webkit-animation: boing .5s forwards;
    animation: boing .5s forwards;
}

.slider > ul > li:hover {
    background-color: var(--primario);
}

.slider > .show {
    z-index: 1;
}

.hideDots > ul {
    display: none;
}

.showArrows > .left {
    left: 0;
}

.showArrows > .right {
    right: 0;
}

.titleBar {
    z-index: 2;
    display: inline-block;
    background: rgba(0,0,0,.5);
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translateY(100%);
    padding: 20px 30px;
    transition: .3s;
    color: #fff;
}

.titleBar * {
    transform: translate(-20px, 30px);
    transition: all 700ms cubic-bezier(0.37, 0.31, 0.2, 0.85) 200ms;
    opacity: 0;
}

.titleBarTop .titleBar * {
    transform: translate(-20px, -30px);
}

.slider:hover .titleBar,
.slider:hover .titleBar * {
    transform: translate(0);
    opacity: 1;
}

.titleBarTop .titleBar {
    top: 0;
    bottom: initial;
    transform: translateY(-100%);
}

.slider > div span {
    display: block;
    background: rgba(0,0,0,.5);
    position: absolute;
    bottom: 0;
    color: #fff;
    text-align: center;
    padding: 0;
    width: 100%;
}


@keyframes boing {
    0% {
        transform: scale(1.2);
    }
    40% {
        transform: scale(.6);
    }
    60% {
        transform: scale(1.2);
    }
    80% {
        transform: scale(.8);
    }
    100% {
        transform: scale(1);
    }
}

/* -------------------------------------- */


@media only screen and (max-width: 600px) {
  
/* single_product.css | file:///mnt/C492E19692E18D6C/Users/RodrigoJM/Documents/Windows%20Desktop/Inmos/Terenos%20San%20Marcos/TerrenosSanMarcos.com/style/single_product/Desktop/single_product.css */

.slider, .slider > div {
  /* height: 500px; */
  height: 250px;
}

}
  





  /* FIN SLIDER */




/*en venta*/

#titulo_direccion{
  display: flex;
  justify-content: space-between;
}

.enventa{
  display: flex;
  justify-content: center;
  align-items: center;
}

.enventa div{
  background-color: var(--fondo_primario);
  padding: 15px;
  margin: 10px;
  border-radius: 40px;
  color: white;
  font-weight: 900;
font-size: 18px;
}

.enventa div i{
  color: rgb(30, 255, 0);
}

/*fin en venta*/




/* seccion imgs */




/* En línea #9 | http://localhost:8848/Terrenos/terreno-0/ */

#seccion_imgs_single_product{
    margin: 30px 25px;
}


  
  #caja_imgs_slider {
    display: flex;
    border-radius: 15px;
    overflow: hidden;
  }

  .caja_galeria {
    display: flex;
  }
  
  .caja_slider {
    width: 55%;
  }
  
  .caja_galeria {
    width: 45%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px 5px;
    padding-left: 5px;
    position: relative;
  }
 
  .img_galeria {
    display: flex;
  }




/* seccion imgs */



/* seccion info contacto */



#seccion_info_contacto {
    display: flex;
  }
  
  .caja_info_single_product {
    width: 65%;
  }
  
  .caja_capsula_contacto {
    width: 35%;
  }
  
  #seccion_info_contacto {
    margin: 20px 25px;
  }

  
/* fin seccion info contacto */


/* breadcrumbs */



.breadcrumbs {
	display: flex;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}

.breadcrumbs li {
	background-color: var(--primario);
	border-radius: 5px 50px 50px 5px;
	box-shadow: 3px 0 10px rgb(255, 145, 0);
	color: #fff;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 25px;
	position: relative;
	text-transform: uppercase;
}

.breadcrumbs li a{
	color: white;
}

.breadcrumbs li:nth-of-type(1) {
	z-index: 100;	
}

.breadcrumbs li:nth-of-type(2) {
	z-index: 90;	
}

.breadcrumbs li:nth-of-type(3) {
	z-index: 80;	
}

.breadcrumbs li:nth-of-type(4) {
	z-index: 70;	
}

.breadcrumbs li:not(:first-of-type) {
	padding-left: 40px;
	margin-left: -20px;
}

.breadcrumbs li:last-of-type {
	box-shadow: none;
	background-color: rgba(255, 123, 0, 0.74);
	color: white;
}



/*fin  breadcrumbs */



/* iconos de info */


.simple_icons_info {
    margin: 40px 0;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px 0px;
    font-size: 14px;
  }
  
  .simple_icons_info i {
    font-size: 25px;
    color: var(--primario);
    padding-right: 4%;
  }
  


/* fin cionos de info */


/* detalles  */



/* En línea #10 | http://localhost:8848/Terrenos/terreno-0/ */

.detalles {
    display: flex;
  }
  
  .iconos_detalles {
    width: 30%;
  }
  
  .detalles_metodos_finan {
    width: 70%;
  }


  .detalles_metodos_finan div{
    background-color: var(--primario);
    color: var(--fondo_primario);
    font-size: 15px;
    text-align: center;
    font-weight: 700;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
  }
  
  .detalles {
    box-shadow: 2px 2px 5px gray;
    border-radius: 30px;
    padding: 15px;
    border-left: 7px solid var(--primario);
    font-size: 13px;
  }
  
  .iconos_detalles p {
    margin: 5px 0;
  }
  
  .detalles {
    margin: 40px 0;
  }
  
  .detalles_metodos_finan {
    border-left: 2px solid var(--primario);
    padding-left: 10px;
  }
  


/* fin detalles */

/* caracteristicas */

.caracteristicas {
  margin-bottom: 40px;
}

/* fin caracteristicas */


/* ubicacion */



/* En línea #10 | http://localhost:8848/Terrenos/terreno-0/ */

.botones_ubicacion {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.botones_ubicacion a {
  background-color: var(--primario);
  padding: 20px;
  color: white;
  border-radius: 15px;
  border-bottom: 5px solid #e78405;
  font-weight: 700;
}

.botones_ubicacion i {
  padding-right: 10px;
  font-size: 20px;
}



/* fin ubicacion */



/* capsula contacto */



.capsula_contacto {
  margin: 5%;
  padding: 20px;
  box-shadow: 2px 2px 5px gray;
  border-radius: 10px;
  position: sticky;
  top: 10px;
  background-color: var(--fondo_primario);
}

.precio_compartir {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(208, 208, 208);
  padding-bottom: 10px;
}


.precio_compartir div {
  color: var(--primario);
  font-weight: 800;
}

.precio_compartir span{
  font-size: 25px;
  font-weight: bolder;
  color: white;
}



.metodos_contacto{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.metodos_contacto h4{
  text-align: center;
}

.metodos_contacto a{
  margin: 10px 10%;
  padding: 10px;
  background-color: var(--primario);
  border-radius: 40px;
  font-size: 18px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: left;
  color: white;
  transition: 0.3s;
}

.metodos_contacto a:hover{
  background-color: white;
  color: var(--fondo_primario);
}

.metodos_contacto a i{
  font-size: 25px;
  margin: 0 10px;
}


.contacto_llamada{
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.contacto_llamada a{
  color: var(--fondo_primario);
  background-color: white;
  padding: 13px;
  border-radius: 30px;
}


#boton_compartir_inmueble{
  cursor: pointer;
}


/* fin capsula contacto */